<!-- https://nyt-connections-nine.vercel.app/ -->

<div class="main">
  <!-- LOSE -->
  @if (mistakes === 0) {
    <div style="text-align: center;">
      <br><br><br><br><br>
      <h2>You Lose!</h2>
      <div class="row playAgain" style="width: 10%; display: block;">
        <button (click)="playAgain()" class="button-3" role="button">Play Again</button>
       </div>  
    </div>
  }
  <!-- WIN -->
  @else if (connectionsFound === 4) {
    <div style="text-align: center;">
      <br><br><br><br><br>
      <h2>You Win!</h2>
      <div class="row" style="width: 10%;">
        <button (click)="playAgain()" class="button-3" role="button">Play Again</button>
       </div>  
    </div>   
  }

  <!-- DEFAULT -->
  @else {
    <!-- Heading -->
    <div class="heading">
      <h1>Connections</h1>
      <p>Create four groups of four!</p>
    </div>
    <br>
  
    <!-- Cards -->
    @for (i of [0,1,2,3]; track i) {
      <div class="row">
      @for (j of [0,1,2,3]; track j) {
          <!-- Card is already found -->
          @if (cards[i * 4 + j].found) {
            <div 
            [ngClass]="{'card': true, 'selected': cards[i * 4 + j].selected}"
            [style.background-color]="cards[i * 4 + j].color"
            [style.color] = "'black'">
            {{cards[i * 4 + j].title}}</div>
          }
        <!-- Card is Not Selected -->
          @else if (!cards[i * 4 + j].selected) {
            <div 
            (click)="selectCard(cards[i * 4 + j])"
            [ngClass]="{'card': true, 'selected': cards[i * 4 + j].selected}"
            [style.background-color] = "'#e5e4e2'"
            [style.color] = "'black'">
            {{cards[i * 4 + j].title}}</div>
          }
          <!-- Case 2: Card is Selected -->
          @else if (cards[i * 4 + j].selected) {
            <div 
            (click)="selectCard(cards[i * 4 + j])"
            [ngClass]="{'card': true, 'selected': cards[i * 4 + j].selected}"
            [style.background-color] = "'#555555'"
            [style.color] = "'white'">
            {{cards[i * 4 + j].title}}</div>
          }
          }
      </div>
    }
  
    <!-- Buttons -->
    <br>
    <div id="buttons" class="row" style="width: 20%;">
      <button (click)="shuffleCards()" class="button-3" role="button">Shuffle</button>
      <button (click)="deselectAll()" class="button-3" role="button">Deselect All</button>
      <button (click)="submit()" class="button-3" role="button" [disabled]="this.selectedCount!=4">Submit</button>
     </div>
  
     <!-- Mistakes -->
    <br>
     <div id="mistakes" class="row" style="width: 20%; text-align: center;">
      @if (mistakes == 4) { <p>Mistakes Remaining: <b>X X X X</b></p> }
      @else if (mistakes == 3) {<p>Mistakes Remaining: <b>X X X</b></p> }
      @else if (mistakes == 2) {<p>Mistakes Remaining: <b>X X</b></p> }
      @else if (mistakes == 1) {<p>Mistakes Remaining: <b>X</b></p> }

     </div>
  }


</div>
