<!-- https://nyt-connections-nine.vercel.app/ -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Heading -->
  <div class="heading">
    <h1>Connections</h1>
    <p>Create groups of four!</p>
  </div>
  <br>

  <!-- Cards -->
  @for (i of [0,1,2,3]; track i) {
    <div class="row">
    @for (j of [0,1,2,3]; track j) {
        <div class="card">{{cards[i * 4 + j].title}}</div>
      }
    </div>
  }

  <!-- Buttons -->
  <br>
  <div class="row" style="width: 20%;">
    <button class="button-3" role="button">Shuffle</button>
    <button class="button-3" role="button">Deselect All</button>
    <button class="button-3" role="button">Submit</button>
  </div>


</body>
</html>